<!DOCTYPE html>
<html>
<head>
<title>Etiquette1</title>
<meta charset="utf-8">
</head>
<style>
#Vulli_logo{ text-align: left;}
#partieencadree{ 
    padding-left: 50px;
   
    display: flex;
    flex-direction: row;
}
#etiquettegalerielafayette{
    width: 40%;
}
#informationss{
    margin-top: 40px;

}


</style>
<body>
    <div id="etiquettegalerielafayette">
        <div style=" border: 3px solid black;margin-left: 100px;">
        <div id="partieencadree">
            <div id="Vulli_logo">
                <img src=".images/Vulli_logo-modified.jpg" alt="Code-barres">
                </div>
            <div id="informationss" >
                <p>VULLI S.A</p>
                <p>Z.I.Des Granges</p>
                <p style="min-width: 10px;">74150 RUMILLY FRANCE</p>
                <p>Tél. +33(0)450010620</p>

            </div>
        </div>

        </div>
        <div style="line-height : 70px;font-weight: bolder;">
        <p>GALERIES LAFAYETTE</p>
        <p>REF :</p>

    </div>
    <div style="text-align: right;"><b>3/3</b></div>

    </div>

    
</body>
</html>