<!DOCTYPE html>
<html>

<head>
    <title>Etiquetteorchestra</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div id="orchestra">
        <div id="firstcont">

            <p ><span>réf
                    client: </span> <span> UFFH-JGHF-KJUYRT</span>
            </p>
            <p ><span> </span>Réf  fournisseur:</span> <span>ref</span></p>
            <div id="designation">
            <div >Désign</div>
                <div>designation</div>
            </div>
            <p ><span>PCB</span>
                <span>pcb</span><span>
                    1: pieces
                </span></p>

        </div>

        <div id="secondcont">


            <p>
                N° du bon de commande <span >123456</span></p>
            <p>
                ORIGINE : <span>country</span>
            </p>
            <p>
                poids du colis<span> weight </span><span>kg</span>
            </p>

            <div id="barcode-orchestra">
                <img  src="https://barcode.tec-it.com/barcode.ashx?data=${item.barcode1}&code=${item.barcode1_type}&multiplebarcodes=true&translate-esc=true&unit=Px&imagetype=Jpg&modulewidth=0.20&dpi=600&unit=Mm"
                    alt="Code-barres">
            </div>

        </div>

    </div>

</body>

</html>