<!DOCTYPE html>
<html>
<head>
<title>Etiquette1</title>
<meta charset="utf-8">
</head>
<style>

  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style:normal;
    font-size:medium;
    
    

  }

  
  #nbr-pieces {
    font-size:small

  }

  #informations {
    
    width: 300px;
  }
  </style>
<body>
   
      <div id="container" >

        <div id="informations">
            <div style=" justify-content: space-between;">
                <p id="reference">700200</p>
                <p id="title">Arbre magique des Klorofil</p>
            </div>
            <p id="code">Code Auchan 258032</p>
            <p id="nbrpieces"><span>4</span> pièces</p>
        </div>

        <div id="barcode" style="display: flex; align-items: center;">
            <img src="https://barcode.tec-it.com/barcode.ashx?data=978020137962&code=EAN13&translate-esc=true&imagetype=Svg&rotation=0" alt="Code-barres">
        </div>
      </div>
      
</body>
</html>