<!DOCTYPE html>
<html>

<head>
  <title>Etiquette Auchan</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>

<body>
   
      <div id="etiquette-auchan" >

        <div id="informations" >
            
                <p id="reference" >700200</p>
                <p id="title"  >Arbre magique des Klorofil</p>
            
            <p id="code" >Code Auchan <span  >xxxxxxx</span></p>
            <p id="nbrpieces" >4<span  >pièces</span></p>
        </div>

        <div id="barcode" >
            <img   src="https://barcode.tec-it.com/barcode.ashx?data=1123456781&code=Code11&multiplebarcodes=true" alt="Code-barres">
        </div>
      </div>
      
</body>
</html>