<!DOCTYPE html>
<html>
<head>
<title>Etiquette1</title>
<meta charset="utf-8">
</head>
<style>

  #etiquette-auchan {
    display: flex;
    flex-direction: row;
    
  width: 201mm;
  height: 73mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
  }

 
 
  </style>
<body>
   
      <div id="etiquette-auchan" >

        <div id="informations" style="margin-left: 8mm;">
            
                <p id="reference" style="font-size: 16pt; font-weight: normal; font-family:  Arial, sans-serif;">700200</p>
                <p id="title"  style="font-size: 16pt; font-weight: normal; font-family:  Arial, sans-serif;">Arbre magique des Klorofil</p>
            
            <p id="code" style="font-size: 16pt; font-weight: normal; font-family:  Arial, sans-serif;">Code Auchan <span  style="font-size: 20pt; font-weight: normal; font-family:  Arial, sans-serif;" >xxxxxxx</span></p>
            <p id="nbrpieces" style="font-size: 22pt; font-weight: normal; font-family:  Arial, sans-serif;">4<span  style="margin-left: 12.6mm; font-size: 20pt; font-weight: normal; font-family:  Arial, sans-serif;">pièces</span></p>
        </div>

        <div id="barcode" style="margin-left: 12.1mm;margin-top: 20.8mm;">
            <img  style="width: 50.9mm; height: 37mm;" src="https://barcode.tec-it.com/barcode.ashx?data=1123456781&code=Code11&multiplebarcodes=true" alt="Code-barres">
        </div>
      </div>
      
</body>
</html>