<!DOCTYPE html>
<html>
<head>
<title>Etiquettecasino</title>

    <meta charset="utf-8">

</head>
<style>
 #etiquette-casino{
    width: 146mm;
  height: 208mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
}

.myclass{text-transform: uppercase;font-weight: 700;}
.mysecondclass{text-transform: capitalize;font-weight: 700;}
#firstcontainer{
    display: flex;
    flex-direction: row;
    
    
    border-bottom: 3px solid black;
}


#infodestinataire{
    text-transform: uppercase;  
    border-left: 2px solid black;
   
}


  </style>
<body>
    <div id="etiquette-casino">
 
    <div id="firstcontainer">
        <div id="infofournisseur" style="width: 55mm;">
            <p style="font-size: 13pt; font-weight: normal; font-family: Arial,sans-serif;margin-top: 7.5mm;margin-left: 6.2mm;">Nom fournisseur</p>
            <div style="font-size: 16pt; font-weight: normal; font-family: Arial,sans-serif;line-height: 1mm;margin-left: 5.2mm;">
            <p >VULLI SAS</p>
            <p>1Avenue des </p>
            <p>ALPES</p>
            <p>74150RUMILLY</p>
            </div>
        </div>
        
        
        <div id="infodestinataire" >
            <p style="font-size: 13pt; font-weight: normal; font-family: Arial,sans-serif;margin-top: 7.5mm;margin-left: 27.5mm;">Nom destinataire</p>
            <div style="font-size: 18pt; font-weight: bold; font-family: Arial,sans-serif;line-height: 1mm;margin-left: 3.6mm;">
            <p>ENTREPOT CORBAS</p>
            <p>BOULEVARD DES</p>
            <p>NATIONS</p>
            <p>69960 CORBAS</p>
            <p>FRANCE</p>
            </div>
        </div>
        </div>
       
       
    
    
   
               <p style="font-size: 14pt; font-weight: bold; font-family: Arial,sans-serif;margin-top: 10mm;margin-left: 10.1mm;" >Réf . article<span  style="font-size: 24pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 11.1mm;">700200</span></p>  
               <p  style="font-size: 14pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 10.1mm;margin-top: -2mm;"> designation <span class="mysecondclass" style="font-size: 18pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 2.9mm;">Arbre magique des Klorofil </span></p>
               
               <div style="line-height : 2px;">
               <p style="font-size: 18pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 10.1mm;">nombre de colis<span style="margin-left: 7mm;">XXXXXX</span></p>
               <p style="font-size: 21pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 10.1mm;">numero de lot XXXXXX</p>
               </div>
               <p style="font-size: 18pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 4.9mm;">nombre de pièces sur la palette  XXXXXXX</p>

               
       
          
          <div id="barcode2" style="margin-left: 16mm;">
           <img style="width: 111.4mm; height:23mm;" src="https://barcode.tec-it.com/barcode.ashx?data=(00)03056560000000221&code=GS1-128&multiplebarcodes=true&translate-esc=true&unit=Min" alt="Code-barres">
       </div>
       <p  style="font-size: 14pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 6.9mm;"> SCC PALETTE<span style="font-size: 15.5pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 8.2mm;">03056560000000221</span></P> 
    
       
       <div id="barcode2" style="margin-left: 12.1mm;">
         <img style="width: 118.9mm; height:32mm;" src="https://barcode.tec-it.com/barcode.ashx?data=(01)13056567002005(10)xxxxxx&code=GS1-128&multiplebarcodes=true&translate-esc=true&unit=Min" alt="Code-barres">
     </div>   
     <p style="font-size: 14pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 3.9mm;">SCC COLIS</p>
    

    </div>
     
</body>
 </html>