<!DOCTYPE html>
<html>
<head>
<title>Etiquettecasino</title>

    <meta charset="utf-8">

</head>
<style>

.myclass{text-transform: uppercase;}
.mysecondclass{text-transform: capitalize;}
#firstcontainer{
    display: flex;
    flex-direction: row;
   
    border-bottom: 3px solid black;
}

#secondcontainer{
    display: flex;
    flex-direction: row;}
   
#etiquette{
    width: 148.5mm;
  height: 105mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
}
#fournisseurcontainer{
    width: 65mm;
}
#destinatairecontainer{
    width: 83.5mm;
    border-left: 3px solid black;
}
  </style>
<body>
 <div id="etiquette">
    <div id="firstcontainer">
        <div id="fournisseurcontainer"  >
            <p style="font-size: 13pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-left:6.2mm ;margin-top: 6mm;">Nom fournisseur</p>
            <div style="font-size: 16pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif; line-height: 1mm;margin-left:5mm ;">
            <p >vulli sas</p>
            <p>1Avenue des ALPES</p>
            <p>ALPES</p>
            <p>74150RUMILLY</p>
           
            </div>

        </div>
       
        <div id="destinatairecontainer"  >
            
            <p style="font-size: 13pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-left:17.6mm ;margin-top: 6mm;" >Nom destinataire </p>
            <div style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;line-height: 1mm;margin-left:2mm ;">
            <p>ENTREPOT LIMOGES</p>
            <p>Easydis Limoges</p>
            <p>Avenue Louis Broglie</p>
            <p>87020 Limoges</p>
            </div>
       

        </div>
    </div>
    <div id="secondcontainer">
        <div id="infos">
            
            <p style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: 1mm;margin-left: 4mm;">Réf. 700200</p>
            <p style="font-size: 16pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -4mm;margin-left: 6mm;">arbre magique des klorofil</p>
            
            <p style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -4mm;margin-left: 4mm;">CODE SIGMA : <span tyle="font-size: 16pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;">64275002</span></p>
            <p style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -4mm;margin-left: 4mm;">4 PIECE(S)</p>
            
            <p style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -2mm;margin-left: 4mm;">N° commande Casino :</p>
            <p style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -4mm;margin-left: 4mm;">XXXXXXX</p>
           
            <P style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -2mm;margin-left: 4mm;">NUMERO DE LOT </P>
            <P style="font-size: 14pt; font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top: -4mm;margin-left: 4mm;">XXXXXXXXX</P>
        </div>
        <div id="barcode4" style="margin-left: 17.4mm;margin-top:11.8mm ;">
            <img  style="width: 43.3mm; height:34.7mm ;" src="https://barcode.tec-it.com/barcode.ashx?data=13056567002005&code=Code93&multiplebarcodes=true&translate-esc=true&unit=Px&imagetype=Jpg&modulewidth=1" alt="Code-barres">
          </div> 
    </div>

 </div>
     
</body>
 </html>