.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0px;
  margin: auto;
  align-content: stretch;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.left {
  width: 70%;
  padding-right: 5px;
}

.right {
  display: flex;
  align-items: center;
}

.barcode {
  max-width: 200px;
  height: 60px;
}

#print-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
