.container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin: auto;
  align-content: stretch;
  width: 100%;
}

.item.auchan {
  display: flex;
  width: 100%;
  height: 195px; /* Adapt this to taille des étiquettes */
  grid-column-gap: 0;
  padding: 5px;
}

.item.auchan .left {
  flex-basis: 70%;
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}

.item.auchan .right {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item.auchan .barcode {
  height: 60px;
}

/* Styles specific to Aubert items */

.item.aubert {
  display: flex;
  width: 100%;
  height: 195px; /* Adapt this to taille des étiquettes */
  grid-column-gap: 0;
  padding: 5px;
}

.item.aubert .left {
  display: none;
}

.item.aubert .right {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.item.aubert .barcode {
  height: 60px;
}

#print-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.item.orchestra {
  display: flex;
  flex-direction: row;
  width: 148mm;
  height: 105.1mm;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: lightgrey;
  position : relative;
  page-break-inside: avoid;
}


#barcodeorchestra {
  margin-top: 10.4mm;
  margin-left: 9.4mm;
  width: 44.7mm; 
  height: 34.7mm;
}

#firstcont {
  border-right: 3px solid black;
  margin: 2.5mm;
  width: 50%;
}

#secondcont {
  margin: 2.5mm;
  width: 50%;
}