.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px;
  align-content: stretch;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.left {
  display: flex;
  align-items: flex-start;
  flex: 1 1 50%; /* shorthand for flex-grow, flex-shrink, flex-basis */
}

.right {
  display: flex;
  align-items: center;
  flex: 1 1 50%; /* shorthand for flex-grow, flex-shrink, flex-basis */
}

.barcode {
  max-width: 200px;
  height: 60px;
}

#print-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

@media print {
  #print-button {
    display: none;
  }
}