@media print {

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: stretch;
  grid-column-gap: 5%;
  width: 900px; /* A4 width in pixels */
  margin: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  height: 195px;
  page-break-inside: avoid;
}

.left {
  width: 70%;
  padding-right: 5px;
}

.right {
  display: flex;
  align-items: center;
}

.barcode {
  height: 60px;
}

#print-button {
    display: none;
}
}