<!DOCTYPE html>
<html>
<head>
<title>Etiquettesmallable</title>

    <meta charset="utf-8">

</head>
<style>

.myclass{text-transform: uppercase;font-weight: 700;}
.mysecondclass{text-transform: capitalize;font-weight: 700;}

#etiquette-smallable{
  width: 104mm;
  height: 74mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
}
#smallable{
  text-transform: uppercase; 
  font-size: 24pt; 
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
margin-top: 11mm;
margin-left: 26mm;}

  </style>
<body>
  <div id="etiquette-smallable">
<p id="smallable">smallable </p>
<p style="margin-top: 21mm;font-size: 16pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif;margin-left: 9mm;">COLIS n° <span style="font-size: 20pt;margin-left:3mm;">2</span><span style="font-size: 20pt;margin-left:12mm;">Sur <span style="font-size: 20pt;margin-left:3mm;">2</span></p>
</div>
</body>
 </html>