<!DOCTYPE html>
<html>
<head>
<title>Etiquettecultura</title>
<meta charset="utf-8">
</head>
<style>
#second-template-cultura{
    width: 146mm;
  height: 208mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
}

.borderbottom{
        border-bottom: 2px solid black;    
      
    }
</style>



<div id="second-template-cultura" >

    <div class="borderbottom">
        <p id="fournisseur " style="font-size: 11pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;margin-bottom: 1.3mm;margin-left: 5.5mm;" > nom fournisseur <span style="font-size: 14pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;margin-left: 14.1mm;"><b>VULLI SAS</b></span></p>
       </div>
         <p style="margin-top: 4mm;margin-left: 3.1mm;font-size: 12pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;">Destinataire </p>
         
               <div class="borderbottom" style="margin-top: 7.3mm; font-size: 16pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;line-height: 2mm;">
                   
                   <p  style="text-transform: uppercase;margin-left: 4.7mm;">rhenus contract logistics</p>
                   <p style="text-transform: uppercase;margin-left: 4.7mm;">moissy</p>
                   <p style="text-transform: capitalize;margin-left: 4.7mm;">avenue paul delouvrier</p>
                   <p style="text-transform: capitalize;margin-left: 4.7mm;"><b>prologis park moissy 2</b></p>
                   <p  style="margin-bottom: 4mm;text-transform: uppercase;margin-left: 4.7mm;"><b>77550 moissy cramayel</b></p>
               </div>
              
         

            <p style="margin-left: 4.4mm;font-size: 12pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;">N°Commande cultura<span style ="min-width: 20px;margin-left: 7.8mm;font-size: 22.5pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;">30034343</span></p>  
            <p style="margin-left: 4.4mm;font-size: 12pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;"> Réf article fournisseur <span style="margin-left: 7.8mm;font-size: 14pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;">700200</span></p>
            <p style="margin-left: 4.4mm;font-size: 12pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;">Arbre magique des Klorofil</p>
            <p style="margin-left: 4.4mm;font-size: 9pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;"> SCC PALETTE<span style ="min-width: 20px;margin-left: 7.8mm;font-size: 15.5pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;">03056560000000115</span></P> 
            <p style="margin-left: 4.4mm;font-size: 16pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;">PCB<span style ="min-width: 20px;margin-left: 12.2mm;">4</span><span style=" margin-left: 86.8mm;font-size: 11pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif; display: flex; width: 20mm; text-align:center;">Nb Colis sur palette</span></p>
            <p style="margin-left: 4.4mm;font-size: 12pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;">BN<span style ="min-width: 20px;margin-left: 9.7mm;">xxxxxx</span><span style="margin-left: 68.8mm;;font-size: 17pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;">20</span></p>
      
    
      
       <div id="barcode" >
        <img  style="width: 118.9mm; height: 36.3mm;margin-left: 10.6mm; " src="https://barcode.tec-it.com/barcode.ashx?data=(01)13056567002005(10)xxxxxx&code=GS1-128&multiplebarcodes=true&translate-esc=true" alt="Code-barres">
    
      <img  style="width: 111.1mm; height:26.9mm;margin-left: 15mm;" src="https://barcode.tec-it.com/barcode.ashx?data=(00)03056560000000115&code=GS1-128&multiplebarcodes=true&translate-esc=true" alt="Code-barres">
  </div>    
      </div>
    
        



    </div>
    
</div>
</body>
</html>