<!DOCTYPE html>
<html>
<head>
<title>Etiquettecultura</title>
</head>
<style>



#container1{
    justify-content: center;
    align-items: center;  
}
#nbcolis{min-width: 20px;margin-left: 100px; font-weight: 700;font-size: larger;}
.myclass{text-transform: uppercase;font-weight: 700;}
.mysecondclass{text-transform: capitalize;font-weight: 700;}

  </style>
<body>

      <div id="container1" >

        
         <p id="fournisseur " > nom fournisseur <span style="margin-left: 50px;"><b>VULLI SAS</b></span></p>
          <hr>
          <p>Destinataire </p>
                <div style="line-height : 2px;">
                    
                    <p class="myclass">rhenus contract logistics</p>
                    <p class="myclass">moissy</p>
                    <p class="mysecondclass">avenue paul delouvrier</p>
                    <p class="mysecondclass"><b>prologis park moissy 2</b></p>
                    <p class="myclass"><b>77550 moissy cramayel</b></p>
                </div>
                <hr>
          
          
         
          
              <p >N°Commande cultura<span style ="min-width: 20px;margin-left: 100px;"><b>30035193</b></span></p>  
              <p > Nb Colis sur palette<span id="nbcolis"><b>20</b></span></p>
              <p > SCC PALETTE<span style ="min-width: 20px;margin-left: 100px;"><b>03056560000000054</b></span></P> 
          

        <div id="barcode1" style="display: flex; align-items: center;">
            <img src="https://barcode.tec-it.com/barcode.ashx?data=03056560000000054&multiplebarcodes=true&translate-esc=true" alt="Code-barres">
        </div>
      </div>
    </div>
    </body>
    </html>