<!DOCTYPE html>
<html>
<head>
<title>Etiquettecultura</title>
</head>
<style>

#first-template-cultura{
  width: 146mm;
  height: 208mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
}


#nbcolis{min-width: 20px;margin-left: 16.5mm; font-size: 24.5pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;}


.borderbottom{
        border-bottom: 2px solid black;    
      
    }

  </style>
<body>

     
<div id="first-template-cultura">
        <div class="borderbottom">
         <p id="fournisseur " style="font-size: 11pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;margin-bottom: 8mm;margin-left: 5.5mm;" > nom fournisseur <span style="font-size: 14pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;margin-left: 14.1mm;"><b>VULLI SAS</b></span></p>
        </div>
          <p style="margin-top: 6.5mm;margin-left: 8.6mm;font-size: 12pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;">Destinataire </p>
          
                <div class="borderbottom" style="margin-top: 7.3mm; font-size: 16pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;line-height: 2mm;">
                    
                    <p  style="text-transform: uppercase;margin-left: 5mm;">rhenus contract logistics</p>
                    <p style="text-transform: uppercase;margin-left: 5mm;">moissy</p>
                    <p style="text-transform: capitalize;margin-left: 5mm;">avenue paul delouvrier</p>
                    <p style="text-transform: capitalize;margin-left: 5mm;"><b>prologis park moissy 2</b></p>
                    <p  style="margin-bottom: 10.5mm;text-transform: uppercase;margin-left: 5mm;"><b>77550 moissy cramayel</b></p>
                </div>
               
          
          
         
          
              <p style="margin-top:20mm;font-size: 14pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;margin-left: 7.8mm;">N°Commande cultura<span style ="min-width: 20px;margin-left: 9.6mm;font-size: 23pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;"><b>30035193</b></span></p>  
              <p style="margin-top:13.8mm;font-size: 14pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;margin-left: 6.7mm;" > Nb Colis sur palette<span id="nbcolis"><b>20</b></span></p>
              <p style="margin-top:11mm;font-size: 12pt; font-weight: normal; font-family: 'Arial Narrow', Arial, sans-serif;margin-left: 8mm;"> SCC PALETTE<span style ="min-width: 20px;margin-left: 12.3mm;font-size: 22pt; font-weight: bold; font-family: 'Arial Narrow', Arial, sans-serif;"><b>03056560000000054</b></span></P> 
          

        <div id="barcode1" style="margin-top: 11.7mm; margin-left: 6.7mm;">
            <img style="width: 133.2mm; height:43.1mm ;" src="https://barcode.tec-it.com/barcode.ashx?data=03056560000000054&multiplebarcodes=true&translate-esc=true" alt="Code-barres">
        </div>
      </div>
    </div>
    </body>
    </html>