<!DOCTYPE html>
<html>
<head>
<title>Etiquette3</title>
</head>
<style>
#barcode{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 197px;
    transform: rotate(270deg);
}

  </style>
<body>
   
     

        <div id="barcode" >
            <img style="width : 98.1mm; height : 16.1mm;" src="https://barcode.tec-it.com/barcode.ashx?data=3760110&code=Code39FullASCII&multiplebarcodes=true&translate-esc=true&unit=Mm&modulewidth=0.5" alt="Code-barres">
        </div>
      
      
</body>
</html>
