<!DOCTYPE html>
<html>
<head>
<title>Etiquette3</title>
</head>
<style>
#barcode{
    margin-top: 15.4mm;
    margin-left: 64.1mm;
    margin-right: 17.2mm;
    object-fit:cover;
    
    
}
#etiquetteaubert{
  width: 163.4mm;
  height: 50.4mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
}
  </style>
<body>
   <div id="etiquetteaubert">
     

        <div id="barcode" >
            <img style="width : 82mm; height : 18.6mm;" src="https://barcode.tec-it.com/barcode.ashx?data=3760110&code=TelepenAlpha&multiplebarcodes=true&translate-esc=true&unit=Mm&modulewidth=0.5" alt="Code-barres">
        </div>
      
      </div>
</body>
</html>
