<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Production</title>
</head>
<style>
    #container {
        display: flex;
        flex-direction: row;
        width : 210.8mm;
        border: black solid 1px;
        border-radius : 5px;
    }

    #right {
        flex : 1;
    }

    #left {
        flex : 1;
    }
</style>
<body>
<div id="container">
    <div id="right">
        <div>Réference: 130979</div>
        <div>BN</div>
        <div>PCB</div>
        <div class="barcode">
            <img style="height: 34.7mm; margin-left: 8.4mm;"
          src="https://barcode.tec-it.com/barcode.ashx?data=13056562003199&code=Code25IL&multiplebarcodes=true&translate-esc=true&unit=Px&imagetype=Jpg&modulewidth=0.20&dpi=300&unit=Mm"
          alt="Code-barres">
        </div>
    </div>
    <div id="left">
        <div>Réference: 130979</div>
        <div>BN</div>
        <div>PCB</div>
        <div class="barcode">
            <img style="height: 34.7mm; margin-left: 8.4mm;"
          src="https://barcode.tec-it.com/barcode.ashx?data=13056562003199&code=Code25IL&multiplebarcodes=true&translate-esc=true&unit=Px&imagetype=Jpg&modulewidth=0.20&dpi=300&unit=Mm"
          alt="Code-barres">
        </div>
    </div>
</div>
</body>
</html>