<!DOCTYPE html>
<html>
<head>
<title>Etiquetteprintemps</title>

    <meta charset="utf-8">

</head>
<style>


#etiquete-printemps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210mm;
  height:70mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
 
}
#second-cont{
    transform: rotate(270deg);
    margin-left: 75mm;
    
  
}
#first-cont{
    min-width: max-content;
    width: 200mm;
}
</style>

 <body>
   
    <div id="etiquete-printemps">
      
            
            <div id="first-cont">
                
                    <p style="font-size: 18pt; font-family: Arial,  sans-serif; font-weight: bold;text-transform: uppercase;margin-top: 4.6mm;margin-left: 3.5mm; ">vulli sas</p>
                    <p style="font-size: 18pt; font-family: Arial,  sans-serif; font-weight: bold;text-transform: uppercase;margin-top: -5mm;margin-left: 2.8mm;">1 avenue des alpes <span style="margin-left: 3mm;">74150 rumilly</span></p>
                    <p style="font-size: 18pt; font-family: Arial,  sans-serif; font-weight: bold;margin-left: 3.8mm;margin-top: -2mm;">numéro de segment: <span style="font-size: 16pt;margin-left: 3.5mm; ">xxxxxx</span></p>
                    <p style="font-size: 18pt; font-family: Arial,  sans-serif; font-weight: bold;text-transform: uppercase;margin-left: 4.3mm; margin-top: -2mm;" >commande n°: <span style="margin-left: 4mm;">xxxxxxx</span></p>
                    <p style="font-size: 18pt; font-family: Arial,  sans-serif; font-weight: bold;margin-left: 3.6mm;margin-top: -2mm;">CARTON N° : <span style="margin-left: 7mm;">1</span><span style="margin-left: 12.3mm;">Partie de : </span><span style="margin-left: 7mm;">1</span><span style="margin-left: 16.9mm;">colis</span></p>
                    <p style="font-size: 18pt; font-family: Arial,  sans-serif; font-weight: bold;text-transform: uppercase;margin-top: -2mm; ">poids du carton:<span style="margin-left: 8.2mm;">12345678 kg</span></p>


            </div>
            <div id="second-cont">
                  <p style="font-size: 16pt; font-family: Arial,  sans-serif; font-weight: bold;">reference</p>
            </div>





        </div>
        




    
   

</body>
</html>