<!DOCTYPE html>
<html>
<head>
<title>Etiquette1</title>
<meta charset="utf-8">
</head>
<style>

  #etiquette-wesco {
   
    
  width: 40mm;
  height: 28mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
  }

 
 
  </style>
<body>
   
      <div id="etiquette-wesco" >
        <img style="width:31mm ; height: 7.5mm;"src="/Users/basmakensi/Desktop/vivilefebvre.github.io/templates/WESCO/wesco.png" alt="wesco" >

        <p style="font-size: 23.5pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal;margin-left: 1mm;margin-top: 1mm;">55685171</p>
        <p style="font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin-top: -8mm;margin-left: 1mm;">hochet dentition coeur</p>


      </div>

       
      
</body>
</html>