<!DOCTYPE html>
<html>
<head>
<title>Etiquette1</title>
<meta charset="utf-8">
</head>
<style>

  #etiquette-sergentmajor{ 
  width: 37.4mm;
  height: 30mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
  
  
  
  }

 
 
  </style>
<body>
   
      <div id="etiquette-sergentmajor" >
        <p style="font-size: 12pt;font-weight: normal; font-family: Arial, Helvetica, sans-serif;min-width: max-content;margin-left: 1mm;margin-top: 1mm;">0<span style="margin-left: 3.5mm;text-transform: uppercase;">natalys</span></p>
        <p style="font-size: 11pt;font-weight: normal; font-family: Arial, Helvetica, sans-serif;min-width: max-content;transform: scaleX(0.5);transform-origin: left;margin-left: 1mm;margin-top: -4mm;">Creation tendresse Sophie + doudou</p>
        <p style="font-size: 12pt;font-weight: normal; font-family: Arial, Helvetica, sans-serif;min-width: max-content;margin-left: 1mm;margin-top: -4mm;">16PJJO025AJV</p>
<div style="display: flex;margin-top: -4mm;">
    
<img id="barcode1" style="height: 14.4mm; width:24.7mm;transform: scaleX(1);transform-origin: left;"  src="https://barcode.tec-it.com/barcode.ashx?data=3056561234566&code=EAN13&multiplebarcodes=true&translate-esc=true&unit=Fit&imagetype=Jpg&modulewidth=1" alt="Code-barres"\>
<p style="font-size: 12pt;font-weight: normal; font-family: Arial, Helvetica, sans-serif;min-width: max-content;">32€00</p>
</div>
      </div>
        
      
      
</body>
</html>