<!DOCTYPE html>
<html>
<head>
<title>Etiquettecdiscount</title>

    <meta charset="utf-8">

</head>
<style>
#firstcontainer{
    display: flex;
    flex-direction: row;
    font-weight: 700;
   
    border-bottom: 3px solid black;
}
#border1{
    border-left: 3px solid black;
    padding-left: 10px;
}
#containernumbertwo{
    font-weight: 700;
   

}
#barcode1{
    display: flex; 
    align-items: center;  
    font-weight: 700;
     
     margin-left: 25px;
    

}
#etiquetecdiscount{
    display: flex;
    flex-direction: row;
 
}
#etiquette5{
    font-weight: bold;
}
</style>

 <body>
    <div id="etiquette5">
    <p>Désignation : <span style="margin-left: 20px">Désignation</span>;</p>
    <p>Référence:<span style="margin-left: 20px;font-size: large;">Référence VULLI</span></p>
    <p>EAN 13 :<span style="margin-left: 10px">305656700200</span></p>
    <p>123<span style="margin-left: 10px">pièces</span>;</p>

    
        <div id="barcode1">
            <img src="https://barcode.tec-it.com/barcode.ashx?data=3056567002008&code=EAN13&multiplebarcodes=true&translate-esc=true&unit=Fit&imagetype=Jpg&modulewidth=1" alt="Code-barres">
          </div> 

          <p style="min-width: 20px;">Carton n° <span style="margin-left:40px">2</span><span style="margin-left:50px">sur 2</span></p>





        </div>


</body>
</html>