<!DOCTYPE html>
<html>
<head>
<title>Etiquettecdiscount</title>

    <meta charset="utf-8">

</head>
<style>
#firstcontainer{
    display: flex;
    flex-direction: row;
    font-weight: 700;
   
    border-bottom: 3px solid black;
}
#border1{
    border-left: 3px solid black;
    padding-left: 10px;
}
#containernumbertwo{
    font-weight: 700;
   

}
#barcode{
    display: flex; 
    align-items: center;  
    font-weight: 700;
     transform: rotate(270deg);
     margin-right: 1000px;
    

}
#etiquetecdiscount{
    display: flex;
    flex-direction: row;
 
}
</style>

 <body>
    <div id="etiquetecdiscount">
        <div id="etiquettefirstpart" style="margin-left:50px">
            <div id="firstcontainer">
                <div  style="margin-right: 100px;" >
                    <p><u>DESTINATAIRE</u></p>
                    <div style="line-height : 2px;">
                    <p >Cdiscount Sa Prologis</p>
                    <p> batiment N° BAT: </p>
                    <p>entrepot N° ENT:</p>
                    <p>parc d'activité chanleloup</p>
                    <p>77550 MOISSY CRAMAYEL</p>
                    </div>
        
                </div>
                <div id="border1">
                    <p><u>EXPEDITEUR</u> </p>
                
                    <div style="line-height : 2px;">
                    <p>VULLI SAS</p>
                    <p>1 avenue des alpes</p>
                    <p>74150 RUMILLY</p>
                    
                </div>
                </div>


            </div>
            
            <div id="containernumbertwo">
                <div style="line-height : 40px;">
                    <p style="min-width: 20px;">Réference :<span style="margin-left:40px">700200</span></p>
                    <div style="line-height : 1px;">
                        <p style="min-width: 20px;">EAN 13 : <span style="margin-left: 10px;">3056567002008</span></p>
                    </div>
                        <p style="min-width: 20px;">N°commande:<span style="margin-left:40px">XXXXXX</span></p>
                    </div>
                        <p style="min-width: 20px;">palette n° <span style="margin-left:40px">1</span><span style="margin-left:50px">sur 4</span></p>



            </div>





        </div>
        <div id="barcode">
            <img src="https://barcode.tec-it.com/barcode.ashx?data=3056567002008&code=EAN13&multiplebarcodes=true&translate-esc=true&unit=Fit&imagetype=Jpg&modulewidth=1" alt="Code-barres">
          </div> 





    </div>

</body>
</html>