<!DOCTYPE html>
<html>
<head>
<title>Etiquettecdiscount</title>

    <meta charset="utf-8">

</head>
<style>
#firstcontainer{
    display: flex;
    flex-direction: row;
   
    border-bottom: 3px solid black;
}


#barcode{
    display: flex; 
  margin-left: 5mm;
    margin-top: 32mm;
     transform: rotate(270deg);
     
    

}
#etiquetecdiscount{
    display: flex;
    flex-direction: row;
    width: 147.9mm;
  height: 97.6mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
 
}

</style>

 <body>
   
    <div id="etiquetecdiscount">
        <div id="etiquettefirstpart" >
            <div id="firstcontainer">
                <div style="width: 64mm;height: 50mm;" >
                    <p style="font-size: 12pt; font-weight: bold; font-family: Arial,sans-serif;text-decoration: underline;margin-top: 4mm;margin-left: 7mm; ">DESTINATAIRE</p>
                    <div style="font-size: 22pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 5mm; transform: scaleX(0.5); transform-origin: left;min-width: max-content;line-height: 2mm;">
                    <p >CDISCOUNT SA</p>
                    <p>CEM BATIMENT N° BAT: </p>
                    <p>ZA POT AU PIN</p>
                    <p>33610 CESTAS FRANCE</p>
                    </div>
        
                </div>
                <div style="border-left: 2px solid black; margin-left: 8mm; width: 46mm;" >
                    <p style="font-size: 12pt; font-weight: bold; font-family: Arial,sans-serif;text-decoration: underline;margin-left: 4mm;margin-top: 4mm;">EXPEDITEUR</p>
                
                    <div style="line-height : 2mm; font-size: 12pt; font-weight: normal; font-family: Arial,sans-serif;min-width: max-content;margin-left: 5mm;">
                    <p style="margin-top: 3mm;">VULLI SAS</p>
                    <p>1 avenue des alpes</p>
                    <p>74150 RUMILLY</p>
                    
                    
                </div>
                </div>


            </div>
            
            <div id="containernumbertwo">
                
                    <p style=" font-size: 14pt; font-weight: bold; font-family: Arial,sans-serif;margin-top: 6mm;margin-left: 3mm;">Réference :<span style="margin-left:11mm;font-size: 16pt; font-weight: normal; font-family: Arial,sans-serif;">700200</span></p>
                    <p style="font-size: 12.1pt; font-weight: normal; font-family: Arial,sans-serif;margin-left: 10mm;margin-top: 6mm;">EAN 13 : <span >3056567002008</span></p>
                    <p style="font-size: 16pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 4mm;margin-top: 4mm;">N°commande:<span style="margin-left:40px; ">XXXXXX</span></p>
                    <p style="font-size: 14pt; font-weight: bold; font-family: Arial,sans-serif;margin-left: 3mm;margin-top: 2mm;">palette n° <span style="margin-left: 3mm;">1</span><span style="margin-left:15mm;">sur 2</span></p>



            </div>





        </div>
        <div id="barcode">
            <img style="height: 24mm; width:62mm ;"  src="https://barcode.tec-it.com/barcode.ashx?data=3056567002008&code=EAN13&multiplebarcodes=true&translate-esc=true&unit=Fit&imagetype=Jpg&modulewidth=1" alt="Code-barres">
          </div> 





    </div>
   

</body>
</html>