<!DOCTYPE html>
<html>
<head>
<title>Etiquette1</title>
<meta charset="utf-8">
</head>
<style>

  #etiquette-intermarché{ 
  width: 148mm;
  height: 97.5mm;
  border:  1px solid lightgrey;
  border-radius: 5%;
  }

 
 
  </style>
<body>
   
      <div id="etiquette-intermarché" >
<p style="text-transform: uppercase; font-size: 20pt; font-weight: normal; font-family: Tahoma, sans-serif;transform: scaleX(0.7);transform-origin: left;margin-left: 33mm;margin-top: 4mm;">itm alimentaire international</p>
<p style="text-transform: uppercase; font-size: 11.5pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 17mm;margin-top: 3mm;">sca textile<span style="margin-left: 40mm;">dept puericulture</span></p>
<p style="text-transform: uppercase; font-size: 11.5pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 8mm;margin-top: 6mm;">permanent</p>
<p style="text-transform: capitalize; font-size: 11.5pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 8mm;margin-top: 4.5mm;">désignation :<span style="margin-left: 14mm;">désignation</span></p>
<p style="text-transform: capitalize; font-size: 11.5pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 8mm;margin-top: 4.5mm;">référence :<span style="margin-left: 12mm;">reference vulli</span></p>
<p style="text-transform: uppercase; font-size: 11.5pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 8mm;margin-top: 4.5mm;">123<span style="margin-left: 10mm;">pièces</span><span style="margin-left: 27mm;">N°LOT : <span style="font-size: 8pt;margin-left: 14mm;">vide</span></p>
<div style="border: 2px solid black;width: 77mm;height:11mm ;margin-left: 3mm;">
    <p style="text-transform: uppercase; font-size: 11.5pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 3mm;margin-top: 2mm;">itm8 :<span style="font-size: 18pt;margin-left: 7mm;">XXXXXXXXX</span></p>
</div>
<div style="display: flex;">
<p style="text-transform: uppercase; font-size: 20pt; font-weight: normal; font-family: Tahoma, sans-serif;margin-left: 4mm;margin-top: 2mm;transform: scaleX(0.7);transform-origin: left;">EAN 13 : <span> 305656XXXXXXXX</span></p>
<img id="barcode1" style="height: 23mm; width:51mm;transform: scaleX(1.1);transform-origin: left; margin-top: -6mm;"  src="https://barcode.tec-it.com/barcode.ashx?data=3056561234566&code=EAN13&multiplebarcodes=true&translate-esc=true&unit=Fit&imagetype=Jpg&modulewidth=1" alt="Code-barres"\>
</div>
        
      
      
</body>
</html>